main{
    margin: auto;
    width: 1440px;
    height: 800px;
    display: flex;
    background-color: hsl(217, 54%, 11%);
}

@media screen and (max-width: 480px){
    body {
        background-color: hsl(217, 54%, 11%);
        width: auto;
        height: auto;
    }

    main{
        width: 100%;
    }
}